.toggle-button {
  display: flex;
  flex-direction: column;
  margin: 25% 0 10px 10px;
  height: 24px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box;
  display: none;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 30px;
  height: 2px;
  background: white;
}

@media (max-width: 760px) {
  .toggle-button {
    display: block;
    display: flex;
  }
}
