.RunningProject {
  margin: auto;
  height: 550px;
  width: 100vw;
  background: url("../../img/20200501_063922.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RunningProject-box {
  background-color: rgba(220, 220, 220, 0.164);
  box-shadow: 3px 3px 3px 1px;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  height: 450px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RunningProject-box h1 {
  border-bottom: 3px solid black;
  font-size: 50px;
  color: rgb(0, 130, 206);
  text-align: center;
  font-family: "Acme", sans-serif;
  text-shadow: 2px 2px 1px black;
}

.RunningProject-box p {
  overflow: auto;
  margin: auto;
  padding: 0 20px;
  font-weight: 600;
  width: 100%;
  line-height: 30px;
  font-size: 20x;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}

.RunningProject-box img {
  box-shadow: 1px 1px 1px;
  border: 1px solid black;
  width: 300px;
  height: 100%;
}

.RunningProject-box_main {
  height: 100%;
  display: flex;
}
.RunningProject-box button {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 15px;
  justify-content: flex-end;
  border: none;
  outline: none;
  border-radius: 3px;
  border: 3px solid rgb(0, 130, 206);
  cursor: pointer;
  background-color: transparent;
}
.button-section {
  transform: translateY(-40px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.RunningProject-box button:hover,
.RunningProject-box button:active {
  color: white;
  background-color: rgb(0, 130, 206);
  transition: 0.4s ease;
}
.RunningProject-box button:last-child {
  margin: 0 90px;
}

@media (max-width: 720px) {
  .RunningProject {
    height: 900px;
  }
  .RunningProject-box {
    height: 800px;
  }
  .RunningProject-box img {
    margin: auto;
    width: 270px;
    height: 300px;
  }

  .RunningProject-box h1 {
    margin: 10px 0;
    font-size: 30px;
  }

  .RunningProject-box_main {
    flex-direction: column;
  }
  .button-section {
    transform: translateY(0);
  }
  .RunningProject-box button:last-child,
  .RunningProject-box button:first-child {
    margin: 0 auto;
  }
}
